[2012-05-24 20:16] warpr opened #1 "rdf serialize no longer uses prefixes in json-ld output"
I am using the following command to serialize a turtle file to json-ld:

rdf serialize --input-format turtle https://frob.nl/tmp/gm.ttl --output-format jsonld

In the output neither the dc: nor senet: prefixes are used.  This did work some time ago (I think installed the linkeddata gem in february 2012), the output then was https://frob.nl/tmp/gm-old.jsonld , with the current version the output is

[2012-05-30 01:56] #1 closed, assigned to gkellogg

[2012-06-05 19:13] warpr opened #2 "Lists not correctly serialized to json-ld, only first two elements present in output"
I saved example 15 from http://www.w3.org/2007/02/turtle/primer/#example15 as students.ttl, and issued the following command:

[code]

Johann is missing from the output.  This doesn't happen for the other output formats (n3, triples, rdfa).  and it seems to always be missing ALL elements except the first two.

[2012-06-06 13:12] #2 closed, assigned to gkellogg

[2012-10-09 09:15] abrisse opened #3 "JSON::LD::API.toRDF cannot parse blank nodes objects"
JSON::LD::API.toRDF doesn't like the use of blank nodes in the object position. Since it works well using other RDF serializers (rdf/ntriples), I suppose that an issue.

So the following test should pass :

[code]

[2012-10-09 10:59] #3 closed, assigned to gkellogg

[2013-01-09 22:08] pkuyken opened #4 "README.markdown typo"
Principle Classes should be Principal Classes

[2013-01-29 00:31] #4 closed, assigned to nobody

[2013-04-23 13:40] bettysteger opened #7 "forgot ::API in readme"
very very small issue in readme.rdoc:

JSON::LD.fromRDF doesn't work, JSON::LD::API.fromRDF is the right call.. also for .frame function.

[2013-05-21 23:50] #7 closed, assigned to nobody

[2013-08-21 17:00] moustaki opened #8 "JSON serialization fails on "can't add a new key into hash during iteration""
Trying to convert the file at

[code]

from Turtle to JSON-LD using the command line

[code]

Gives the following exception:

[code]

Looking at the code, it seems to be marked as deprecated, so not sure why it is calling it. It is looking like term_definitions is being modified whilst being looped through.

[2013-09-16 10:54] abrisse opened #9 "Readme example "Turn JSON-LD into RDF" does not work"
I tried to run the following example from the JSON-LD gem Readme :

[code]

The last line raises the following error :

[code]

JSON::LD::API.toRDF returns an Array, but `<<` method in RDF::Writable module doesn't support Arrays, so it is interpreted like a Statement, and therefore it crashes.

The following example works :

[code]

Is there any DSL to avoid to loop explicity ?

[2013-10-09 09:09] njh opened #10 "Correct the format name"
Hello,

I am trying to use the Format class instances to describe the available formats in dbpedia lite, instead of hard coding them into my app.

However the #name method doesn't work for the JSON::LD::Format class:

[code]

Perhaps it is easiest just to overload the #name method?

[2013-10-09 19:41] #9 closed, assigned to gkellogg

[2013-10-09 19:42] #10 closed, assigned to nobody

[2013-10-09 19:42] #8 closed, assigned to gkellogg

[2014-06-24 14:30] stain opened #11 "RecursiveContextInclusion if anything goes wrong loading referenced @context"
Trying to parse https://raw.githubusercontent.com/taverna/taverna-prov/master/example/helloanyone.bundle/.ro/manifest.json (either by file or URL) fails with

[code]

This seems to be because of:

[code]

If I modify the above @context to use the resolved URI after redirection from w3id.

[code]

then it parses.  Note that the https variant (Which I probably should redirect to):

[code]

then I in

[2014-08-13 15:53] pmackay opened #12 "Is this useful if not using RDF?"
I'm looking at generating JSON-LD from an API based off a SQL-based db, not a graph db. Its not clear to me whether using RDF at all would be appropriate. If RDF is not used, is this library useful (as it seems to be just for reading/writing with RDF)? Or would I be better exploring other ways to generate JSON-LD?

I'm learning as I go here, so any suggestions would be much appreciated :)

[2014-08-13 16:40] #11 closed, assigned to nobody

[2014-09-18 22:35] ndushay opened #13 "cache context please"
It seems that json-ld  is not caching context documents, and I strongly feel it should.  I was temporarily blocked from w3c due to this lack of caching.

I see in the gemspec that there is a *development* dependency on open-uri-cached;  however, i believe the actual code in question is doing a Net::HTTP.get  request
  https://github.com/ruby-rdf/json-ld/blob/develop/lib/json/ld/api.rb#L463
called

[2014-09-30 23:42] wmene opened #14 "Specs sometimes fail when fetching tests from test suite http://json-ld.org/test-suite/tests"
The method `Fixtures::SuiteTest::Entry#documentLoader` sometimes fails when it grabs test-suites.  The `content_type` from the `response` https://github.com/ruby-rdf/json-ld/blob/develop/spec/suite_helper.rb#L256 is sometimes `nil`.

When `content_type` is `nil`, then the call to `start_with?` fails here
https://github.com/ruby-rdf/json-ld/blob/develop/spec/suite_helper.rb#L266

This is the stack

[2014-10-09 15:04] cacfd3a opened #15 "Too much compacting mixing external with local context"
Consider:

[code]

Result:

[code]

I would expect the name, homepage and avatar mappings to show up in the context.

[2014-10-09 23:35] #12 closed, assigned to nobody

[2014-10-09 23:36] #14 closed, assigned to nobody

[2014-10-09 23:36] #15 closed, assigned to nobody

[2015-02-25 22:46] #13 closed

[2015-04-11 20:32] gkellogg opened #16 "fromRdf-021 still failing"
The fix done some time ago has issues which were masked likely due to test caching issues.

See discussion in https://github.com/json-ld/json-ld.org/issues/357

[2015-08-10 20:14] darrenleeweber opened #17 "Provide README examples for using a custom remote document loader"
There are currently no examples on how to set a persistent option on the jsonld API to use a custom document loader.  The goal is to cache specific jsonld context documents using a custom document loader.  (I'm running into pesky intermittent problems using rack-cache with rest-client and actually rack-cache is overkill for the purpose of only caching a few jsonld context docs.)

I'm looking for a

[2015-08-19 16:14] abargnesi opened #18 "Could a soft dependency on multi_json abstraction be used"
I see the ruby `JSON` implementation is used to read the input.

Would it be desired to provide a soft dependency (i.e. not declared in gemspec) on the [multi_json](https://rubygems.org/gems/multi_json) gem? This would allow users to supply a more efficient JSON parser for their ruby engine. On MRI that is likely [Oj](https://rubygems.org/gems/oj), on JRuby that is likely [jrjackson](https://rubyg

[2015-08-19 17:14] gkellogg commented on #18
Good idea; this has been suggested before.

[2015-08-31 00:30] #18 closed

[2015-09-22 12:53] #17 closed

[2015-11-09 15:58] bendiken opened #21 "Add `jsonld -h` as an alias for `jsonld -?`"
The `-h` command-line option might perhaps do something more useful than the current output:

    $ jsonld -h
    /usr/bin/jsonld: invalid option -- h
    /usr/lib/ruby/2.0.0/getoptlong.rb:394:in `set_error': invalid option -- h (GetoptLong::InvalidOption)
    	from /usr/lib/ruby/2.0.0/getoptlong.rb:571:in `get'
    	from /usr/lib/ruby/2.0.0/getoptlong.rb:602:in `block in each'
    	from /usr/lib/

[2015-11-09 16:18] bendiken commented on #21
In the same vein, supporting `jsonld --version` (short form `-V`) might also be a good idea.

[2015-11-09 16:41] bendiken opened #22 "Correct the RDF.rb version dependency"
It'd probably be a good idea to tighten the RDF.rb version dependency a bit on the JSON::LD 1.1.x branch, as right now it will happily pull in RDF.rb 1.99.x on a machine that doesn't already have it installed:

    $ sudo gem install json-ld -v 1.1.11
    Fetching: link_header-0.0.8.gem (100%)
    Fetching: rdf-1.99.0.gem (100%)
    Fetching: multi_json-1.11.2.gem (100%)
    Fetching: json-ld-1.1.

[2015-11-09 17:53] gkellogg commented on #22
I suppose the right thing is to release this as json-ld 1.99.0, and yank 1.1.11. I'll check other gems as well.

[2015-11-09 18:04] bendiken commented on #22
Alternatively, couldn't the gemspec for the 1.1.x branch specify "< 1.99" in the dependency? That is, it'd be good to keep a production version around, as 1.99 can't be considered that given the voluminous deprecation warnings.

[2015-11-09 18:51] gkellogg commented on #22
No, it was updated to use `graph_name`, which is in 1.99.

[2015-11-09 18:57] bendiken opened #23 "Example of converting JSON-LD to N-Triples?"
It wasn't clear how to use the `--format` command-line option. I would have expected one of the following formulations to work, but they both resulted in an unhelpful stack trace:

    jsonld --format=nt example.jsonld
    jsonld --format=application/n-triples example.jsonld

However, I eventually figured out that the following formulation does indeed work:

    jsonld --format=ntriples example.js

[2015-11-09 19:07] gkellogg commented on #22
Released 1.1.11.1 with RDF versions < 1.99

[2015-11-09 19:07] #22 closed

[2015-11-09 19:41] gkellogg commented on #23
It could work with `--format nt` if we made `:nt` a symbol for `RDF::NTriples::Format`. Same with `:nq`.

Otherwise, the --help would probably need to enumerate all format symbols loaded to give an acceptable set. This also relates to the `rdf` command.

[2015-11-09 20:34] bendiken commented on #22
Thanks @gkellogg, the 1.1.11.1 version works great (doesn't output warnings).

[2016-02-27 23:23] no-reply opened #25 "Some JSON-LD Documents are Pathologically Slow"
An example is this [LDP Container with ~6,000 member objects](https://gist.github.com/tpendragon/3438dff0b30dfa549599#file-content-jsonld). The [benchmark](https://gist.github.com/tpendragon/3438dff0b30dfa549599#file-ruby-rb-L1) included in the gist shows a total time of __32.45 seconds__ to parse the document via `RDF::Graph#load`. Using `RDF::Reader#open` is similarly slow. Based on behavior I'v

[2016-02-28 00:48] gkellogg commented on #25
It might be worth parsing to a sink, rather than a graph; that will cut out graph insert times as being a culprit. JSON-LD doesn't get nice with large graphs, but that's mostly a writing problem, not a parsing problem.

I believe the etc/parse script can be used with --format none to simply count triples, rather than insert them. Give that a shot.

[2016-02-28 01:00] gkellogg commented on #25
No, still takes 30 seconds on my MacBook Pro:

[code]

On thing I explored is to use the `:expanded` option to avoid expanding the input first, but that has no effect. My guess is that it's in the flattening logic. Adding a `:flattened` option to avoid flattening might help, and that algorithm could possibly be improved as well.

[2016-02-28 01:06] no-reply commented on #25
Re: `:flatten`; I tried this:

[code]

[2016-02-28 01:10] gkellogg commented on #25
Yeah, there is no `:flatten` option. The `toRdf` algorithm creates a node map and then outputs statements from that map. The node map is also used to flatten, so a `:flatten false` option would need to do something different.

It might be better to just re-write the `toRdf` algorithm to not flatten first, although there was clearly a reason this was specified. Simply using expanded JSON-LD and tra

[2016-02-28 16:51] gkellogg commented on #25
Easy enough to re-implement this. New version runs in < 1 second.

[2016-02-28 23:50] #25 closed

[2016-02-29 20:48] tpendragon opened #27 "Supporting Multiple External Contexts"
https://bibdata.princeton.edu/bibliographic/4609321/jsonld

Running this through the reader doesn't parse anything from the first context, only the second. There are callouts in the spec for supporting multiple contexts, and http://rdf-translator.appspot.com/ seems to work how I'd expect.

[2016-02-29 23:09] gkellogg commented on #27
Running through `script/parse --expand` in the gem directory indicates that it is processing both contexts and generates the following:

[code]

Ran with `script/parse --expand https://bibdata.princeton.edu/bibliographic/4609321/jsonld`. Add `--dbg` to get a full accounting or processing steps.

RDF output gives me the following:

[code]

[2016-03-01 00:01] tpendragon commented on #27
@gkellogg I may be misunderstanding what you're saying. Are we agreeing that it's not working? Because I would have expected to see, for example, the title element in the expanded JSON-LD.

[2016-03-01 01:40] gkellogg commented on #27
I'll need to look at the contexts more explicitly; it's definitely loading both contexts. Note that it doesn't work through the json-ld.org/playground either, but for different reasons. The fact that apspot processes it doesn't make it right. I'll let you know when I've found out more, but the contexts are definitely being processed.

[2016-03-01 05:56] gkellogg commented on #27
This does seem to be a regression; it parses both contexts, but seems to drop the first one found. I'll have a fix sometime tomorrow.

[2016-03-01 21:46] #27 closed

[2016-03-01 23:50] gkellogg commented on #27
Released in 2.0.0.beta3 and 1.99.2. Also fixed an issue with BNode naming in the JSON-LD to RDF writer.

[2016-04-13 23:51] gkellogg commented on #23
This is handled through the `rdf` executable now.

[2016-04-13 23:51] #23 closed

[2016-04-13 23:53] gkellogg commented on #21
Closed in favor of the more comprehensive `rdf` command.

[2016-04-13 23:53] #21 closed

[2016-07-29 19:25] gkellogg opened #28 "Add support for matching on @id when framing"
Match on other values as well.

[2016-08-01 16:34] gkellogg commented on #28
See [Dave's example](http://json-ld.org/playground/#/gist/bd569269ce69a8fe7ecebde0713acc73)

[2016-08-01 16:36] gkellogg commented on #28
From @abrisse

[code]

[2016-08-01 16:43] gkellogg commented on #28
First example from @abrisse:

[code]

Basically when I use a standard serializer like the jsonld gem in Ruby to serialize it in JSON-LD I obtain (reproducible on http://rdf.greggkellogg.net/distiller)

[code]

But I would like to obtain:

[code]

[2016-08-01 16:45] gkellogg commented on #28
See https://github.com/json-ld/json-ld.org/issues/110

[2016-08-03 23:34] #28 closed

[2016-08-09 21:56] njh opened #29 "Generating Graph from JSON-LD surprisingly slow?"
Hello,

I have been making a website that lists the available Arduino libraries:
http://www.arduinolibraries.info/

I recently added schema.org structured data in the form of JSON-LD, which is embedded in page, and also available as a JSON document:
http://www.arduinolibraries.info/libraries/ether-sia
http://www.arduinolibraries.info/libraries/ether-sia.json

For fun I thought I would also generat

[2016-08-09 21:58] gkellogg commented on #29
If it's a large file (many subjects), Turtle serializer may be slow, as it tries to order things. There's a streaming mode which should be pretty fast.

The writer could conceivably look at the dataset size to switch between, but as it's a streaming interface, this isn't to easy. Try using the streaming turtle writer and see how that works.

But, you've got me thinking of other ways we might detec

[2016-08-09 22:27] njh commented on #29
Hi Gregg!

I separated out the JSON-LD parsing from the Turtle serialising and it was the JSON-LD part that took the time, not the Turtle serialisation.

There are 2 subjects and 11 triples, so the Turtle serialiser shouldn't be slow anyway.

If it isn't anything obvious, then I will dig a bit deeper tomorrow.

nick.

[2016-08-09 22:31] gkellogg commented on #29
Perhaps it's context fetch time, try inclining those terms you need to see.

[2016-08-10 08:53] njh commented on #29
Yup, it is because it is  repeatedly downloading the context.

I tried adding 'restclient/components' but weirdly got an error loading the context:

I will try being more explicit with the context.

[2016-08-10 11:28] njh commented on #29
I have implemented a rake tasks which pre-fetches the schema.org context file and then injects it into the JSON-LD before generating the statements:
https://github.com/njh/arduino-libraries/commit/98e854fd36a1dff289c4f93a7bfd7468892a4ad3

It speeds it up a lot, not having to go to the network every time.

* Generating an array of statements from the JSON-LD takes 0.28 seconds per file.
* Writing t

[2016-08-10 15:00] gkellogg commented on #29
If you maintain the executable state, the gem caches the context in memory. Otherwise, you can implement your own remote loader, which will be used for loading contexts.

Regarding other processing costs: the input must be expanded before statements can be generates. I did just fix a bug where sorting was not turned off when expanding, which might have something to do with it. Are you using the de

[2016-08-10 15:06] gkellogg commented on #29
Processing the Schema.org contex, even when in memory, will take some time too. Processing it, and loading a cooked version from YAML, say, might also speed up. Problem is not tightly building in a Schema.org version dependency, but a meta-gem might do this. I could see some hooks in context loading that might help support this.

To test, you might whittle down your inline context to the minimum a

[2016-08-10 20:11] njh commented on #29
Gah, looks like specifying a git branch in a Gemfile is currently broken bundler/bundler#4659

[2016-08-10 20:30] gkellogg commented on #29
It seems to work for me, look at https://github.com/ruby-rdf/json-ld/blob/develop/Gemfile#L4 for example.

I'm working on a way to look for a pre-loaded context, which would allow the meta-gem I described. It would also be useful with this gem, if you pre-loaded it as part of your library; probably requires a vocabulary URL to class/constant mapping be passed in. Should dramatically improve use fo

[2016-08-10 22:25] njh commented on #29
Fixed my git branch problem - it was because I was specifying a version of ruby which conflicted with the ruby specification in the gems I was requiring.

Got a bit hack but started breaking down API#toRdf to work out where the time is being spent:

[code]

Typical result:
[code]

So most of the time is split pretty much equality between the first API.new (which I guess is evaluating the context)

[2016-08-10 22:54] gkellogg commented on #29
Yes, I have a similar bench-mark. Having a general utility to save cooked contexts will be useful, and make it easy for implementations to improve their own use cases.

[2016-08-11 15:49] njh commented on #29
I have broken out ruby-prof and got the following results (for a single graph):
* https://www.aelius.com/njh/tmp/json-ld/ruby-prof-stack.html
* https://www.aelius.com/njh/tmp/json-ld/ruby-prof-flat.txt
* https://www.aelius.com/njh/tmp/json-ld/ruby-prof.html

As an experiment I tried commenting out all the include RDF::Util::Logger, log_*() calls.
I was surprised to find that it nearly halved the e

[2016-08-11 17:03] gkellogg commented on #29
The logger can be disabled by passing in `logger: false`; it defaults to STDERR. Reading profiles is pretty difficult, and deciding what can be improved. Using the new support I added should help.

For testing, I created a file in `example-files/schema-context.rb`, which you can include, which should have the effect of not loading the context remotely. I expect that will make a substantial differe

[2016-08-11 17:09] gkellogg commented on #29
The profile shows it's spending 83% of it's time in context parsing, which should go away. It's also spending > 20% of its time in logging, and I think the best thing now is to simply remove most of these, as they were more important in initial development.

[2016-08-12 01:56] gkellogg commented on #29
@njh: try using https://github.com/ruby-rdf/json-ld-preloaded, which preloads several contexts. It can simply be used instead of `require "json/ld"` => `require "json/ld/preloaded"`.

If this is adequate, I'll release both that, and the updated json-ld gem. The distiller and linter will benefit quite a bit too.

[2016-08-12 12:43] njh commented on #29
Performance after switching to "json/ld/preloaded":

[code]

So a significant improvement :)

My total run time for converting 618 libraries from JSON to Turtle (including starting Ruby etc) is now 4.788s. Much better. Would be super-happy if it was more like 1.6 seconds, like the HTML ;-)

[2016-08-12 13:07] njh commented on #29
I am not totally convinced by the `json-ld-preloaded` gem - partly because of having to re-publish it so frequently?  Although it might be good for applications other than mine.

Because in my application, I have to pre-download other JSON files - it seems fairly straightforward to do the same for the schema.org context.

This is working for me, without using json-ld-preloaded:
[code]

Can it be a

[2016-08-12 16:26] gkellogg commented on #29
Contexts don't actually change that much, and schema.org releases aren't really that frequent. Even so, the rdf-vocab gem needs similar frequency of releases. For most purposes, it shouldn't be an issue.

I'm not sure why it's any different for json-ld-preloaded and your own application; one or the other would need to be updated, and a new call to `add_preloaded` will override an existing preloade

[2016-08-12 17:44] njh commented on #29
That works great, thanks.

`schema_org_context.json` isn't distributed with my application, it is downloaded in my Rake script at the start of each site re-build.

[2016-09-05 16:22] #29 closed

[2016-10-10 03:16] workergnome opened #30 "Framing returns a blank @graph."
When I try and frame a document, I'm getting a blank graph returned.

[code]

returns

[code]

But when I put the same JSON into the JSON-LD Playground, I get the values I expect:

[permalink to Playground](http://json-ld.org/playground/#startTab=tab-framed&json-ld=%5B%7B%22%40id%22%3A%22http%3A%2F%2Fvocab.getty.edu%2Fulan%2F500115403%22%2C%22http%3A%2F%2Fxmlns.com%2Ffoaf%2F0.1%2Ffocus%22%3A%5B%7B

[2016-10-13 00:17] gkellogg commented on #30
It looks like there's a difference in the implementations when @id is included in the frame. In your example, if you remove `"id": {},`, you should get the output you expect.

In the current draft, the behavior of `@id` is undefined. However, in a branch being considered to be merged (which you can see [here](https://rawgit.com/json-ld/json-ld.org/issue-110-frame-matching/spec/latest/json-ld-frami

[2016-10-13 14:57] workergnome commented on #30
Thank you.  That appears to be exactly what is going on, and your work-around solves my immediate problem.

[2016-12-27 18:24] gkellogg commented on #30
This should be fully supported now.

[2016-12-27 18:24] #30 closed

[2017-02-13 17:39] jcoyne opened #34 "NameError: uninitialized constant JSON::LD::Writer"
[code]

[2017-02-13 17:40] jcoyne commented on #34
I don't know what to make of this.  Constants loaded in different threads perhaps?

[2017-02-13 17:43] jcoyne commented on #34
Is this because autoload is not thread safe?
https://github.com/ruby-rdf/json-ld/blob/f830eca03ac52a2ccc207dc448ad33c93a81c74e/lib/json/ld.rb#L36

[2017-02-21 01:19] gkellogg commented on #34
Hi @jcoyne, sorry I've been under the weather and offline for a bit. Does this happen all the time, or just sometimes? The message is pretty odd, as it suggests exactly the same constant it finds missing. `RDF::Writer.for` does look at all formats to find something that includes a writer that matches for the format requirements (content-type, file-extension, format symbol). All formats are defined

[2017-02-22 01:16] jcoyne commented on #34
No trouble @gkellogg I hope you're getting better.  I was seeing this only on an extremely overloaded system.  I suspect there might be a bug in ruby autoload triggered when the system is resource starved.

[2017-02-22 04:30] #34 closed

[2017-03-14 16:04] workergnome opened #35 "Problem with framing and bases"
When using the `linkeddata`  gem (v. 2.2.0), when I create a frame with a context that contains both a link to an external context and an inline context, framing fails.

However, if I explicitly add a base, framing works.  Have I misinterpreted the spec again, or is this an actual bug?  It appears to work on the JSON-LD Playground: [See this permalink](http://json-ld.org/playground/#startTab=tab-f

[2017-04-30 02:19] mitar opened #37 "Debugging does not work"
It seems `--dbg` does not work?

[code]

[2017-04-30 02:24] mitar opened #38 "Error always mentions stdin, and not the real filename"
I run the program:

[code]

I would expect that the error was `Error in in.json`. Hopefully maybe even the file line and column in which the error happens (or JSON path/pointer or something). It might be that there are multiple `@context`s present in a file. From the error message it is hard to kw which one is a problem.

[2017-04-30 17:41] gkellogg commented on #37
This command is mostly used for internal purposes, there's actually an `rdf` command that provides access to these features that is somewhat more robust.

There is a new way to get to this information other than the `debug=` interface, which I'll update.

[2017-04-30 17:54] #37 closed

[2017-04-30 17:55] gkellogg commented on #37
Note that most debug calls have been commented out for performance purposes, but you'll get some useful output, particularly when framing.

[2017-04-30 20:19] #38 closed

[2017-04-30 20:20] gkellogg commented on #38
Fixed a couple of issues you noted. Getting line/column or JSON pointer not really feasible, as first pass turns JSON into Ruby representation and such information is not available. Constructing a JSON pointer could be _possible_, but not something I have time to tackle.

[2017-04-30 20:22] mitar commented on #38
Hm, does this addresses that the output is `Error in -stdin-` despite me passing a filename in?

[2017-04-30 20:26] gkellogg commented on #35
It seems this was resolved somewhere before the release of 2.1.3.

[2017-04-30 20:26] #35 closed

[2017-04-30 20:28] gkellogg commented on #38
Yes, the problem is that remote files are loaded using something other than `File.open`, so `path` was not an accessor. It no uses either `requested_url`, or `base_uri`, depending.

[2017-04-30 20:32] mitar commented on #38
Oh, I understand, that error is not coming from some other remote file and not `in.json`?

[2017-04-30 20:38] gkellogg commented on #38
In this case, the error comes form a context definition for the term `B`, which is inline (there is no remote context). As mentioned, the use of JSON-LD 1.1 features requires announcement, typically using the `@version` property in the context. The updated error message attempts to clarify this.

The filename is reported based on that passed in, not one found through context resolution. In a perfe

[2017-04-30 20:39] mitar commented on #38
:-)

Thanks for all the explanation and all the work. :-) All this really looks amazing already.

[2017-09-01 16:20] kevinxin90 opened #39 "@base not working for integer value in JSON"
Hi, I was testing the JSON-LD 1.1 ruby client. And I found if the value of a json_doc is an integer, the @base parameter wouldn't work.
e.g.  (the value of "_id" is integer here)
[code]
This wouldn't convert the value of "_id", the compacted output is like follows:
[code]
However, if I change the value of "_id" into "1017", it works.
e.g.
[code]
Here, I get what I want
e.g.
[code]
I'm wondering is

[2017-09-01 20:43] gkellogg commented on #39
I don't believe the spec has ever supported this..you might send out feelers on public-linked-json@w3.org, but I'm afraid I won't be able to respond in any substantive way for a couple of weeks.

[2017-09-02 19:16] Gargron commented on #13
@gkellogg Could you provide an example of how to hook up the documentLoader with Rails.cache? I tried but got weird recursion errors, so I am not sure how that option/method is supposed to look.

[2017-09-02 21:47] gkellogg commented on #13
Sorry, I'm out for a bit with surgery, so can't respond well right now. There may be some in the respec directory, I used rack-client-components.

[2017-09-23 18:42] jperville opened #40 "Failing test as of 2017-09-22"
Before working on a PR on this project, I tried to run the test suite to have confidence that my changes won't be regressing anything. I noticed that several examples do not pass anymore, often for trivial reasons like expecting "**http**://json-ld.org/test-suite/..." and getting "**https**://json-ld.org/test-suite/..." as shown below.

Would it be possible to update the specs so that they pass?

[2017-09-24 00:03] gkellogg commented on #40
I typically run with a aymlink to the tests. Which is likely masking this problem. PRs to both the gem and the test suite welcome.

[2017-09-25 13:56] jperville commented on #40
Hello @gkellogg ,

I found out that most of the test failures I reported in this issue are due to changes in the jdon-ld suite, which seems to be used as integration test of the ruby json-ld gem.

For example, the following error:

[code]

Is explained by the renaming of 'http://json-ld.org/...' URLs to 'https://json-ld.org/...', renaming which was done last July in https://github.com/json-ld/test

[2017-09-25 14:57] gkellogg commented on #40
I’ll go through the test suite when I can.

[2017-10-20 12:09] floze commented on #13
I hope you are OK Gregg. Your work is invaluable to me, but a fellow here once said: "Health is not everything, but without health, everything is nothing". All the best wishes from an avid user.

[2017-10-21 21:12] gkellogg commented on #40
After updates to both the implementation and the test suite, these should all pass now.

[2017-10-21 21:12] #40 closed

[2017-10-21 21:31] gkellogg commented on #13
I haven't used this in a while, due to instability in rest-client and rest-client-components, however the RDF.rb gem has a `RestClientAdaptor`, based on `HttpAdapter`. If rest-client-components is loaded, then this should enable the rest-client cache to be used for requests.

From 85eb3d7502ef2a834d9d734b11eb6dab785e6beb, set up RestClient as follows (or however you normally stet up Rack caching:

[2018-04-24 13:36] bertvannuffelen opened #43 "--no-compact-to-relative option"
Hi,

The rdf executable does not handle the --no-compact-to-relative option as described in the help.

[code]

the positive option is accepted:
[code]

kr,
Bert

[2018-05-24 20:18] unlimit opened #44 "RDF Dataset Normalization"
Hi!
Is it possible to [normalize json](http://json-ld.github.io/normalization/spec/#normalization-algorithm-terms) with this gem?
Thank you!

[2018-05-24 23:00] gkellogg commented on #44
Normalization is supported in the rdf-normalize gem.

[2018-05-24 23:00] #44 closed

[2018-09-03 21:18] #39 closed

[2019-02-01 09:09] typhoon2099 opened #46 "Over a minute to create a graph"
I've installed the latest version of this gem and run it over an HTML, but using `JSON::LD::Reader.new` takes over a minute to parse the input. I've set logging to false and skip_registry to true (based on other issues that have been closed here) but they don't make any difference to the time it takes to parse the file. By comparison, scanning the same HTML for Microdata takes a fraction of a seco

[2019-02-01 15:38] gkellogg commented on #46
Can you provide a reference to the file having the issues? I’ve definitely seen html with thousands of JSON-LD script elements take a long time to load.

[2019-02-04 23:16] gkellogg commented on #46
I'm not sure how your using this, but if you call `JSON::LD::Reader.new` (or `JSON::LD::API.expand`) referencing the URL, and if it has the `Content-Type: text/html` header, the API method will treat it as HTML. When I tried this locally (after a small change to script/parse, it parsed the file in 0.036 seconds, and of course returned no content.

I tried the downloaded file using `rdf count kdYEZ

[2019-02-04 23:22] typhoon2099 commented on #46
Hmm, that's weird. We tried parsing the file here and it took over a minute. We used JSON::LD::Reader.new and added the skip_registry: false option. I'll have to look into this further, it may be a different part of our app that's causing the slow down (we also run the HTML through Nokgiri to find some other things).
From: notifications@github.com
Sent: 4 February 2019 23:16
To: json-ld@noreply.gi

[2019-02-05 10:00] typhoon2099 commented on #46
Hmm, that's weird. We tried parsing the file here and it took over a minute. We used `JSON::LD::Reader.new` and added the `skip_registry: false` option. I'll have to look into this further.

UPDATE: `JSON::LD::Reader.new(html)` is still taking an age for me. I've stuck timings through our calls and this appears to be the one line that's killing our performance. As I say, the `RDF::Reader.for(:micr

[2019-02-05 12:23] typhoon2099 commented on #46
Right, I've tested a few different things. First, I passed in the HTML as a file, everything went quickly. I then tried passing the HTML in as a StringIO, which started causing `JSON::ParserErrors`. Finally, I used `lib/json/ld/reader.rb:51` exactly to pass into `JSON::LD::Reader.new`. My tests passed again but were back to being painfully slow.

It seems the second regex on that line is causing s

[2019-02-05 22:06] gkellogg commented on #46
There is some inconsistency, probably, when passing text, vs. a file descriptor into `JSON::LD::Reader#initialize`. There was a fairly minimal (probably too minimal) change to support processing HTML documents. When passing a string, it tries to remove everything before and after JSON content, which is no longer called for in the spec. That could be taking some time, although a profile would be ne

[2019-02-05 22:35] typhoon2099 commented on #46
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;}Ah, I didn't realise I could use RDF::RDFa. My current workaround is to parse the file using Nokgiri and look for script elements with the application/ld+json type. Currently quite fast but if I can search for most schema types in one then I'm just going to do that instead.

[2019-02-13 13:45] markwilkinson opened #47 "Certificate verification errors"
Hi Gregg!

I'm a bit stuck. I suspect this isn't a "bug", just a configuration problem, but I don't know how to solve it.

I have a Ruby script running in Apache that uses JSON::LD::Reader.  Everything is fine until I attempt to pull things out of the graph, at which point it throws a "certification error".  As I understand it, it validates the @context nodes, which is where I have a problem.   ht

[2019-02-14 08:36] markwilkinson commented on #47
It's a server config issue, clearly not your problem. Sorry!

[2019-02-14 08:36] #47 closed

[2019-02-26 00:46] Tioneb12 opened #48 "Tutorial or example ?"
Where can I find a complete tutorial or example for newbie (step by step) who explain how can I use your gem ?

Thanks

[2019-02-27 19:39] gkellogg commented on #48
I have no tutorial specifically for using the json-ld Gem, but there are many examples on the README, and in the more detailed documentation which you can find [here]().

In addition to the standard RDF reader/writer interface implemented, the gem supports the [JSON-LD API](https://www.w3.org/TR/json-ld11-api/) and [JSON-LD Framing](https://www.w3.org/TR/json-ld11-framing/), which also have exampl

[2019-10-11 13:11] #46 closed

[2020-02-18 14:29] markwilkinson opened #49 "schema.org seems to break JSON::LD::Reader"
Reader Class JSON::LD::Reader

[code]

If I .gsub the content of the JSON LD to replace schema.org with the URL of the context file, it no longer  chokes on the message.

[code]

This workaround is fine, but I'm curious what the root cause of the problem is...??

[2020-02-18 20:13] gkellogg commented on #49
I'll need more info to reproduce this. The error indicates you're getting HTML back when accessing `http://schema.org`, but content-negotiation should ensure that you get back JSON-LD. The default document loader always uses an Accept header to prioritize application/ld+json, so you shouldn't get HTML when doing this.

Still, you shouldn't get such an error. It could be that you're using the fallb

[2020-02-19 10:55] markwilkinson commented on #49
Here's a Docker file that reproduces the problem (the same thing happens with Distiller, where I cannot control what libraries are loaded, so it's a bigger problem there!)

[code]

[2020-02-19 20:39] gkellogg commented on #49
There is a [bug on the schema.org site](https://github.com/schemaorg/schemaorg/issues/2468) (schemaorg/schemaorg#2468) that is not returning the JSON-LD context when given a profile parameter.

There's also a bug in the document loader that leads to this particular error, but it wouldn't show up if schema.org was returning the appropriate content.

If you use the json-ld-preloaded gem, it will avo

[2020-02-19 21:32] gkellogg commented on #49
I released new versions of json-ld (3.1.1) and linkeddata (3.1.1) gems, which require json-ld-preloaded as well as fix the loading bug found.

Note that without the preloaded context, this would continue to fail, until schemaorg/schemaorg#2468 is addressed.

[2020-02-19 21:32] #49 closed

[2020-03-19 15:50] typhoon2099 opened #50 "@id in JSON LD prevent matching"
I'm using SPARQL to query some JSON-LD, but for some reason the itemListElement of an ItemList is not being returned. It looks to be related to the @id property being present on the Product
Here's a query to match everything:
[code]
Here's my JSON-LD
[code]
Here's the list of solutions:
[code]

[2020-03-19 17:12] gkellogg commented on #50
Whats happening is that the Product is being dropped because it's `@id` is a relative IRI, which is not valid RDF. To make this work, you need to give a default base IRI. This is typically done as the location of the document when loading, but can be set/overridden using either `@base` in a context, or with the `base` API option.

The [distiller](http://rdf.greggkellogg.net/distiller?command=seria

[2020-03-20 09:35] typhoon2099 commented on #50
Ah, I hadn't realised that. Is it possible to pass the base URL into either the `SPARQL.parse` method or the `RDF::Graph.new` method? We load the HTML in from files locally, there's no remote access so we don't get the base URL automatically.

[2020-03-20 16:00] gkellogg commented on #50
Most libraries accept a `base` or `base_uri` option which is used when parsing docs that may include relative URIs. Typically, these resolve to the location of the document on the Internet, but for form-based solutions, or other purposes, it can be useful to override.

SPARQL.parse delegates to SPARQL::Grammar.parse, which invokes the SPARQL::Grammar::Parser, which has a `base_uri` option. ([Docs]

[2020-12-06 22:34] #50 closed

[2021-02-25 09:23] pchampin opened #51 "problem when compacting IRIs that contain `@`"
This issue is the same as https://github.com/digitalbazaar/jsonld.js/issues/435:

The result compacting the IRI `http://localhost/@special` against base `http://localhost/` is `@special`, which looks like a keyword. The consequence is that the resulted compact JSON-LD does not expand back to the original.

A workaround would be to compact it to `./@special` instead.

[2021-09-21 15:44] typhoon2099 opened #53 "Schema data no longer found in a non-deterministic manner"
I have RSpec tests that looks for Product data and returns the first found Product on a page (and tries to merge together solutions to get an Array of image for that Product). This was working on 3.1.8, but after updating to 3.1.9 it seems to fail as the solutions have started coming back with no clear order.

Here's some example HTML:
[code]

One of the tests expects to find a URL of `https://sit

[2021-09-21 16:39] gkellogg commented on #53
If it’s failing to load consistently, the problem is either with the connection or the source location. Note that you can either override the documentLoader with your own custom loader, or configure with the appropriate gem using the RDF::Util::File extensions.

[2021-09-22 10:23] typhoon2099 commented on #53
The source location is a `Nokogiri::XML::Element` (unchanged between upgrades). I'm getting my solutions using:

[code]

The above code is slightly convoluted as I'm merging different methods together to keep the code smaller.

[2021-09-22 12:58] gkellogg commented on #53
RDF does it guarantee any inherent order to the data, and the default Graph/Repository uses a hash structure that is known for not preserving input order. You might add some ORRDER clauses to the query.

Although it’s not really an effective solution, there is an rdf-ordered-repo gem that will preserve insertion order.

[2021-09-22 13:31] typhoon2099 commented on #53
Okay. I wasn't actually sure if this was a bug or not, more likely we were being lucky that the order was preserved in the first place. Not sure what's changed or why, the diff looks fairly innocouous, I'll have to have a think around how to handle these unusual Graphs (if at all).

[2021-09-26 20:01] #53 closed

[2022-03-11 07:43] dsisnero commented on #48
how would you load the triples from a html page that has json-ld in the header

[2022-03-11 16:08] gkellogg commented on #48
The JSON-LD gem will natively retrieve JSON-LD from HTML via the various API methods. To work best, you should also have the Nokogiri gem available. You can also extract JSON-LD from HTML using the reader interface, to create an RDF Repository.

There's an example in the [README](https://ruby-rdf.github.io/json-ld/#label-Turn+JSON-LD+into+RDF+-28Turtle-29) on doing just this from JSON-LD source. T

[2022-05-10 12:27] ClearlyClaire opened #54 "`JSON::LD::API.toRdf`, when given a Hash as input, may mutate it"
When given a hash with an embedded `@context`, it can end up removing `@context` from the nested hash.

This seems to be because of https://github.com/ruby-rdf/json-ld/blob/9fd51e0622ebe5c52c736d56f31ddf74b4eb7bb5/lib/json/ld/expand.rb#L91

[2022-05-10 16:06] gkellogg commented on #54
Yes, but I believe this is removing it from a copy of the original input, unless you have a use case that illustrates an actual issue created because of that. That said, the code would probably work using `input['@context']` instead of `input.delete('@context')`.

[2022-05-10 16:42] gkellogg commented on #54
I'll get an update out shortly with a fix. Thanks for the use case.

[2022-05-10 22:45] #54 closed

[2022-05-10 22:46] gkellogg commented on #54
I pushed a fix to the develop branch. If that solves your issues, I'll push a new release out.

[2022-05-11 05:17] #48 closed

[2022-05-11 07:13] ClearlyClaire commented on #54
It does solve it! Thank you for the quick fix!

[2022-05-11 20:44] gkellogg commented on #51
This was fixed in e76d1d02 [Version 3.1.9](https://github.com/ruby-rdf/json-ld/releases/tag/3.1.9).

[2022-05-11 20:44] #51 closed

[2022-07-29 18:15] fbacall opened #55 "Blank @id for embedded schema.org JSON-LD in webpage?"
When extracting JSON-LD from a webpage, the root always seems to be a blank node.

[code]
=>
[code]
This seems to be the case even if I explicitly set the `base_uri` option.

Is there a way to read in the triples such that the subject is the URL of the page? Or if not, is there a way for me to know what the root node will be so that I can query properties only from the top-level resource?

I've tr

[2022-07-29 22:31] gkellogg commented on #55
The JSON-LD in that page does not declare an `@id`, so it is implicitly given a blank node as an ID. If you want the document to have the same subject as the enclosing document, add `"@id": ""` to the document near the first `@type`. (Also, use `https://schema.org` as the context, not `http://schema.org`).

If you extract the JSON-LD from your document manually, and paste it into json-ld.org/playg

[2022-08-01 09:00] fbacall commented on #55
So that page isn't one that I manage, but I've generally noticed that the vast majority of JSON-LD schema.org markup does not explicitly declare any kind of `@id` (including the examples on the schema.org website) for the "top level" resource.

What I'm trying to build is a crawler that crawls a sitemap looking for certain schema.org types. I was hoping I could just somehow throw documents at `rub

[2022-08-01 14:47] gkellogg commented on #55
Yes, the schema.org examples do not typically encourage the use of `@id`, but that inevitably results in the proliferation of blank nodes.

Yes, if you require the ‘linked data’ gem, and you parse tap with the RDF::RDFa parser, it will also look for embedded a micro database, JSON-LD and RDF/XML.

Try parsing as RDFa, as I mentioned above, that should do all the work for you.

[2022-08-01 17:23] fbacall commented on #55
I guess where I'm stuck is where to go from there. I want to extract all the properties of the "top level" `LearningResource` for the above page, without also pulling in the 2 `LearningResource`s that are under the `competencyRequired` of the top one.

My original thought was I could query for
[code]
but got stumped by the blank node.

I suppose I could do 2 queries, firstly:
[code]
and then subtr

[2022-08-02 09:33] fbacall commented on #55
Alright, thanks. I'll go from there. Feel free to close this

[2022-08-02 12:06] fbacall commented on #55
Actually, a small, unrelated question... is there a way to silence the errors about malformed HTML?
e.g.
[code]

[2022-08-02 14:26] gkellogg commented on #55
Typically, those errors should only be shown when the `validate` option is used. Pic it can be reproduced via the code you provided at the top, I’ll take a look. Otherwise, please give me something to reproduce the issue.

[2022-08-02 15:21] fbacall commented on #55
[code]
It doesn't seem to happen with `RDF::Graph.load`, but I need to be able to open `File` and other IO-like objects instead of just URLs

[2022-08-02 19:15] gkellogg commented on #55
By default, the reader is logging errors to STDERR. You can change this using the `logger` option, either to an instance of `Logger`, an IO, or `false` (really anything that responds to `#write`).

[code]

The reader does log errors found (as well as other useful information) if errors are found in the document, such as these. The `validate` option simply controls the behavior of the reader in the

[2022-08-02 19:16] #55 closed